* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.pos {
    position: absolute;
    top: 10px;
    right: 10%;
    left: 10%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.cords {
    font-family: sans-serif;
    font-size: 35px;
    line-height: 45px;
    color: #fff;
    text-align: center;
}

.rng {
    transform: translateY(-300px);
    transition: 0.5s ease-in-out transform;
}

.pos.active {
    .changePos {
        display: none;
    }

    .rng {
        transform: translateY(0);
    }
}

.changePos {
    width: 120px;
    margin: 0 auto;
    padding: 5px 10px;
}